:root {
  font-family: sans-serif;
  --gray: #ddd;
  --black: #333;
  --error: #f66;
}

body {
  background: url(https://images.unsplash.com/photo-1586678559821-994295fcc0f0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  background-color: rgba(255, 255, 255, 0.95);
  width: 50%;
  padding: 32px;
  border-radius: 16px;
  margin: 32px;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 16px;
}

form {
  padding: 0 32px;
  display: grid;
  gap: 4px 32px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.input-group {
  display: flex;
  flex-direction: column;
}

label {
  padding: 4px 0;
  color: var(--black);
}

.required {
  font-size: 0.75rem;
  color: #aaa;
  font-style: italic;
}

input,
select {
  font-size: 1rem;
  padding: 8px 16px;
  border: 1px solid var(--gray);
}

input::placeholder {
  opacity: 0.5;
  color: var(--black);
}

input:focus,
select:focus {
  outline: none;
  border: 1px solid var(--black);
}

input:valid,
select:valid {
  border: 1px solid #0a0;
  background-color: rgba(0, 170, 0, 0.025);
}

input:invalid,
select:invalid {
  border: 1px solid var(--error);
  background-color: rgba(170, 0, 0, 0.025);
}

input:placeholder-shown {
  border: 1px solid var(--black);
  background-color: #fff;
}

.input-msg {
  opacity: 0;
  font-size: 0.75rem;
  padding: 8px 16px;
  height: 0.75rem;
  border-radius: 0 0 8px 8px;
}

.input-msg.error {
  opacity: 1;
  height: fit-content;
  background-color: var(--error);
  color: #fff;
}

.submit-form {
  grid-column: 1 / -1;
}

.submit-form button {
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  padding: 8px 32px;
  border: none;
  background-color: #0a0;
  color: #fff;
}
